@defer {
  @if (article()) {
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Published: {{ article()?.isoDate | date:'short' }}</span>
        <app-row-spacer/>
        <button
          matIconButton
          (click)="onMarkAsRead()"
        >
          <mat-icon>{{ readStatus() ? 'mark_email_read' : 'mark_email_unread' }}</mat-icon>
        </button>
        <button
          matIconButton
          (click)="onAddToBookmarks()"
          [class]="(article()?.tags || []).includes(favTagId()) ? 'highlighted' : undefined"
        >
          <mat-icon>bookmark</mat-icon>
        </button>
        <a
          href="{{ article()?.link }}"
          target="_blank"
          matIconButton
        >
          <mat-icon>link</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <h2>{{ article()?.title }}</h2>
    <p>
      {{ article()?.contentSnippet }}
    </p>
    <mat-divider/>
    @if (article()?.categories?.length) {
      <h3>Categories</h3>
      <mat-chip-set>
        @for (c of article()?.categories; track c) {
          <mat-chip disableRipple>{{ c }}</mat-chip>
        }
      </mat-chip-set>
    }
  }
} @loading (minimum 0.5s) {
  <mat-progress-bar mode="query"/>
}
