{$DOMAIN:feedz.buzz} {
  handle /api/* {
    reverse_proxy http://rss-nest:3600
  }

  handle {
    root * /app
    try_files {path} /index.html
    file_server
  }

  log {
    level info
    format console
  }
}
