<mat-toolbar>
  <mat-toolbar-row>
    <button
      matIconButton
      (click)="onAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <app-row-spacer/>
    @if (feeds().length > 0) {
      <mat-paginator
        [length]="totalResults()"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="paginationHandler( $event)"
      />
    }
  </mat-toolbar-row>
</mat-toolbar>
@defer {
  @for (f of feeds(); track f._id) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ f.title }}</mat-card-title>
        <app-row-spacer/>
        <button
          matIconButton
          (click)="onRemove(f._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p>Link: {{ f.link }}</p>
        <p>Articles: {{ f.articles.length }}</p>
      </mat-card-content>
    </mat-card>
  } @empty {
    <h2>No subscriptions found</h2>
  }
} @loading (minimum 0.5s) {
  <mat-progress-bar mode="query"/>
}
