<h2 matDialogTitle>Add new subscription</h2>
<form
  matDialogContent
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Subscription title"
      type="text"
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Description"
      type="text"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Link</mat-label>
    <input
      matInput
      placeholder="https://example.com/feed.xml"
      type="url"
      formControlName="link"
    />
  </mat-form-field>
  <ng-container formGroupName="settings">
    <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
    <mat-slide-toggle formControlName="loadFullText">Load full text</mat-slide-toggle>
  </ng-container>

  @if (errorMessage()) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }
</form>
<mat-dialog-actions>
  <button
    matButton
    mat-dialog-close
  >Cancel
  </button>
  <button
    type="submit"
    matButton
    (click)="onSubmit()"
    [disabled]="form.invalid || form.pristine || isLoading()"
  >Save
  </button>
</mat-dialog-actions>
