<mat-toolbar>
  <mat-toolbar-row>
    <button
      matIconButton
      (click)="onAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <app-row-spacer/>
    @if (tags().length > 0) {
      <mat-paginator
        [length]="totalResults()"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="paginatorHandler($event)"
      />
    }
  </mat-toolbar-row>
</mat-toolbar>
@defer {
  <mat-chip-set>
    @for (t of tags(); track t._id) {
      <mat-chip-row (removed)="onRemove(t)">
        {{ t.name }}
        @if (t.userId !== 'all') {
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        }
      </mat-chip-row>
    }
  </mat-chip-set>
}
