:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:host .mat-toolbar {
  position: sticky;
  top: 0.5rem;
  z-index: 1;
  background: transparent;
  backdrop-filter: blur(1rem);
  border-radius: 1ch;
}

:host .mat-mdc-paginator {
  background: transparent;
}

.card {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 0.2rem var(--mat-sys-primary);
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out;
}

.bookmarked {
  color: var(--mat-sys-primary);
}
