<mat-toolbar>
  <mat-toolbar-row>
    <mat-button-toggle>
      <mat-icon (click)="toggleDisplay('title')">view_day</mat-icon>
      <mat-icon (click)="toggleDisplay('short')">view_agenda</mat-icon>
    </mat-button-toggle>
    <app-row-spacer/>
    @if (articles().length > 0) {
      <mat-paginator
        [length]="totalResults()"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="paginationHandler( $event)"
      />
    }
  </mat-toolbar-row>
</mat-toolbar>
@defer {
  @for (a of articles(); track a._id) {
    <mat-card
      class="card"
      appearance="outlined"
      (click)="onArticleClick(a)"
    >
      <mat-card-header>
        <mat-card-title>{{ a.title }}</mat-card-title>
        <mat-card-subtitle>Published: {{ a.isoDate | date:'short' }}</mat-card-subtitle>
      </mat-card-header>
      @if (display() !== 'title') {
        <mat-card-content>
          <p>{{ a.contentSnippet }}</p>
        </mat-card-content>
      }
      <mat-card-actions>
        <a
          href="{{ a.link }}"
          matIconButton
          target="_blank"
        >
          <mat-icon>link</mat-icon>
        </a>
        <a
          routerLink="/subscription/{{a.subscriptionId}}/article/{{ a._id }}"
          matIconButton
        >
          <mat-icon>open_in_new</mat-icon>
        </a>
        <button
          matIconButton
          [class]="a.read ? 'bookmarked' : undefined"
          (click)="onAddToBookmarks(a, $event)"
        >
          <mat-icon>bookmark</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  } @empty {
    <h2>No articles found</h2>
  }
} @loading (minimum 0.5s) {
  <mat-progress-bar mode="query"/>
}
