<mat-toolbar>
  <mat-toolbar-row id="view-toggle">
    <mat-button-toggle>
      <mat-icon
        [class]="display() === 'title' ? 'highlighted' : undefined"
        (click)="toggleDisplay('title')"
      >view_day
      </mat-icon>
      <mat-icon
        [class]="display() === 'short' ? 'highlighted' : undefined"
        (click)="toggleDisplay('short')"
      >view_agenda
      </mat-icon>
    </mat-button-toggle>
    <app-row-spacer/>
    <button
      matIconButton
      (click)="onRefreshAll()"
      [disabled]="isRefreshingAll()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <app-row-spacer/>
    <mat-button-toggle>
      <mat-icon
        [class]="readFilter() ? 'highlighted' : undefined"
        (click)="filterHandler('read')"
        [title]="readFilter() ? 'Show read' : 'Show unread'"
      >{{ readFilter() ? 'mark_email_unread' : 'mark_email_read' }}
      </mat-icon>
      <mat-icon
        [class]="favFilter() ? 'highlighted' : undefined"
        (click)="filterHandler('fav')"
        [title]="favFilter() ? 'Show favorites' : 'Show all'"
      >bookmark
      </mat-icon>
    </mat-button-toggle>
  </mat-toolbar-row>
</mat-toolbar>

<app-article-list
  [articles]="articles()"
  [isRefreshing]="isRefreshingAll()"
  [display]="display()"
  [favTagId]="favTagId()"
  [userTags]="userTags()"
/>

<mat-toolbar>
  @if (articles().length) {
    <app-paginator
      [totalResults]="totalResults()"
      (pageChange)="paginationHandler($event)"
    />

    <mat-toolbar-row id="actions">
      <button
        matButton="tonal"
        (click)="markManyAsRead({ articleIds: articleIds(), read: true })"
      >
        <mat-icon>check</mat-icon>
        Skip visible
      </button>
      <button
        matButton="tonal"
        (click)="markManyAsRead({ read: true, all: true })"
      >
        <mat-icon>done_all</mat-icon>
        Skip all
      </button>
    </mat-toolbar-row>
  }
</mat-toolbar>
