.sidenav {
  width: max-content;
  padding: 0 2rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.label {
  background: var(--mat-sys-primary-container);
  display: flex;
  gap: 1rem;
}

.label h1 {
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-nav-list a {
  margin: 0.5rem 0
}

mat-sidenav-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100cqh - 2rem);
  scroll-behavior: smooth;
}

.page-content {
  overflow: auto;
}

.health {
  position: absolute;
  inset: auto 2rem 0 auto;
}
