:host {
  font-size: xx-small;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5ch;
}

.row span:last-child {
  font-weight: bold;
}
