@import "@angular/material/prebuilt-themes/cyan-orange.css" (prefers-color-scheme: dark);
@import "@angular/material/prebuilt-themes/azure-blue.css" (prefers-color-scheme: light);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.mat-mdc-paginator-container {
  justify-content: space-around !important;
}

mat-toolbar-row {
  height: auto !important;
}

.external {
  display: flex;
  flex-direction: column;
}

.content_layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content_layout img {
  max-height: 20ch;
  max-width: 70cqw;
  align-self: center;
  border-radius: 1rem;
}

.content_layout a {
  color: inherit;
}

.highlighted {
  color: var(--mat-sys-primary) !important;
}
